*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resultContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movieDetailsContainer{
    height: 20rem;
    width: 50rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border-radius: 10px;
}
.img-container{
    margin-left: 2rem;
}
.img-container img{
    height: 15rem;
    width: 10rem;
    border-radius: 10px;
}
.movie-Details{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 3rem;
    letter-spacing: 1px;
}
button{
    border: none;
    border-radius: 20px;
    padding: 1rem 4rem;
    background-color: blue;
    cursor: pointer;
    color: white;
}
button a{
    font-size: 1rem;
    text-decoration: none;
}